[alias]
	co = checkout
    cm = commit
    st = status
    logp = log --pretty
    adog = log --all --decorate --oneline --graph
[core]
	editor = vim
[user]
	email = me@bobbywlindsey.com
	name = bobbywlindsey
[push]
	default = simple
