"*":
  "atom-material-ui":
    colors:
      abaseColor:
        red: 33
        green: 150
        blue: 243
        alpha: 1
      predefinedColor: "Blue"
    tabs:
      compactTabs: true
    treeView:
      compactList: true
  core:
    audioBeep: false
    projectHome: "/home/bobby/GitProjects"
    themes: [
      "atom-material-ui"
      "atom-material-syntax"
    ]
  editor:
    fontSize: 15
    scrollPastEnd: true
    showInvisibles: true
    tabLength: 4
    tabType: "soft"
  "exception-reporting":
    userId: "e311789c-b980-d62e-cecc-de94547c7284"
  welcome:
    showOnStartup: false
